.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-text-1 {
  width: 697px;
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  width: 697px;
  margin: 7px auto 0;
}

.u-section-1 .u-gallery-1 {
  width: 689px;
  height: 545px;
  grid-gap: 10px 10px;
  margin: 20px auto 27px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding: 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 110px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    width: 523px;
    margin-top: 29px;
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 440px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 400px;
  margin: 20px auto;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 239px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 130px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 134px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 0 auto;
  padding: 18px 52px 18px 51px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 134px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 0 auto;
  padding: 18px 40px 18px 38px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 1px;
    padding-right: 23px;
    padding-bottom: 19px;
    padding-left: 23px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 2px;
    padding-right: 39px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 125px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 0;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 125px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 1.125rem;
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 279px;
}

.u-section-4 .u-image-1 {
  height: 277px;
  margin-top: 1px;
  margin-bottom: 1px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-4 .u-image-1 {
    height: 206px;
    width: 820px;
    margin: 10px -50px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-4 .u-image-1 {
    height: 193px;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 115px;
  }

  .u-section-4 .u-image-1 {
    height: 105px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 434px;
}

.u-section-5 .u-image-1 {
  width: 529px;
  height: 394px;
  margin: 20px auto;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 427px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 253px;
    margin-top: 11px;
    margin-bottom: 11px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 489px;
}

.u-section-6 .u-text-1 {
  margin: 26px auto 0;
}

.u-section-6 .u-tabs-1 {
  min-height: 375px;
  margin: 10px auto 26px 0;
}

.u-section-6 .u-tab-link-1 {
  background-image: none;
}

.u-section-6 .u-tab-link-2 {
  background-image: none;
}

.u-section-6 .u-tab-link-3 {
  background-image: none;
}

.u-section-6 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-6 .u-tab-link-4 {
  background-image: none;
}

.u-section-6 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-6 .u-tab-link-5 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-6 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-6 .u-tabs-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 635px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 130px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 134px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 0 auto;
  padding: 18px 52px 18px 51px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 134px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 0 auto;
  padding: 18px 40px 18px 38px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 1px;
    padding-right: 23px;
    padding-bottom: 19px;
    padding-left: 23px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 2px;
    padding-right: 39px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 125px;
  }

  .u-section-7 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 0;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 125px;
  }

  .u-section-7 .u-btn-2 {
    font-size: 1.125rem;
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 339px;
}

.u-section-8 .u-image-1 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-8 .u-image-1 {
    height: 231px;
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-8 .u-image-1 {
    height: 191px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-8 .u-image-1 {
    height: 149px;
    margin-bottom: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 134px;
  }

  .u-section-8 .u-image-1 {
    height: 118px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 33px;
}

.u-section-9 .u-custom-html-1 {
  margin-bottom: 1px;
  margin-top: 1px;
}

@media (max-width: 575px) {
  .u-section-9 .u-custom-html-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.options {
	overflow: scroll;
}
.float {
	z-index: 999;	
}
@media only screen and (max-width: 760px) {
.buttonrow {
	display:none
}	
	.floatingbutton {
	display:block
}
}
@media only screen and (min-width: 760px) {
.buttonrow {
	display:block	
}	
	.floatingbutton {
	display:none
}
} 